<nav
  class="navbar navbar-expand-lg navbar-light bg-light shadow-sm container-fluid p-2"
  [dir]="direction"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-bold fs-4 text-primary" routerLink="/home">
      {{ 'navbar.brand' | translate }}
    </a>

    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#userNavbar"
      aria-controls="userNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="userNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark fw-semibold" routerLink="tasks/all-tasks">
            {{ 'navbar.tasks' | translate }}
            <!-- <span class="badge bg-danger ms-1">{{ taskCount }}</span> -->
          </a>
        </li>
      </ul>

      <!-- Right-side buttons -->
      <div class="d-flex align-items-center gap-2">
        <button class="btn btn-danger btn-sm fw-semibold mx-3" (click)="logout()">
          {{ 'navbar.logout' | translate }}
        </button>
      </div>

      <mat-slide-toggle (change)="changelang()">
        {{ lang === 'en' ? 'AR' : 'EN' }}
      </mat-slide-toggle>
    </div>
  </div>
</nav>
